/*-- scss:defaults --*/

$signature-color: #880000;
$presentation-font-size-root: 30px;
$presentation-heading-color: $signature-color;
$code-block-font-size: 0.75em;
$body-bg: #ffffff;

/*-- scss:rules --*/



.reveal a {
  line-height: 1.3em;
}

.reveal strong {
  color: $signature-color;
}

.reveal aside{
  font-style: italic;
}

.reveal figcaption {
  font-style: italic;
  text-align: center;
}

.quarto-title-author-name {
  font-size: 80%;
  font-weight: bold;
}

.quarto-title-affiliation {
  font-style: italic;
}

.reveal h1:not(.title) {
  background-image: linear-gradient(to right, #fefefe, #dddddd);
  padding-left: 10px;
  padding-right: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.reveal .title {
  border-bottom: 6px;
  border-bottom-style: solid;
  border-bottom-color: $signature-color;  
}

.reveal h2 {
  border-bottom: 4px;
  border-bottom-style: solid;
  border-bottom-color: $signature-color;
}

.reveal .math {
  color: #000088;
}

.reveal code {
  font-size: 90%;
}

.reveal .bblue {
  font-weight: bold;
  color: #000088;
}

.reveal .bgreen {
  font-weight: bold;
  color: #008800;
}
